*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100vw;
    background: linear-gradient(to top, rgba(0,0,0,.5)50%,rgba(0,0,0,.5)50%), url(../images/istockphoto-1317323736-612x612.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    backdrop-filter: blur(5px);
    border-radius: 20px;
}

.icon{
    width: 200px;
    height: 70px;
    padding: 1%;
}

.logo{
    color: orange;
    font-size: 35px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    padding-top: auto;
    padding-left: auto;
}

.menu{
    width: 400px;
    height: 70px;
    padding-top: 25px;
}

ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 50px;
    font-size: 15px;
}

ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', serif;
    font-weight: bold;
    transition: .4s ease-in-out;
}

ul li a:hover{
    color: orange;
}

.search {
    width: 330px;
    margin-left: 270px;
}

.srch{
    font-family: 'Time New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 2px solid black;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: #fff;
    font-size: 16px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 100%;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: orange;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .3s ease;
}

.content .cn a{
    text-decoration: none;
    color: black;
}

.cn:hover{
    background: #fff;
    transition: .4s;
}

.content span{
    color: orange;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 300px;
    background: linear-gradient(to top, rgba(0,0,0,.8)50%,rgba(0,0,0,.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 20px;
}

.form h2{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: orange;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orange;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: 'Ubuntu', sans-serif;
}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background: orange;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}

.btnn:hover{
    background: #fff;
    color: orange;
    transition: .4s;
}

.btnn a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link{
    font-family: arial;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: orange;
}

.liw{
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}